.modalForm{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.30);
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    display: grid;
    place-content: center;
    display: none;
}
.activeForm{
    display: grid;
}

.modalForm_form{
    background-color: white;
    border-radius: 6%;
    padding: 20px;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalForm_title{
    font-size: 28px;
    margin: 10px 0;
}

.modalForm_exit{
    position: absolute;
    right: 9%;
    top: 5%;
    font-size: 24px;
    cursor: pointer;
}
.modalForm_exit:hover{
    color: gray;
}
.modalForm_div{
line-height: 27px;
}

.modalForm_label{
    display: block;
}

.modalForm_input{
    width: 100%;
    padding: 5px;
    outline: none;
    font-family: var(--principal-font);
}

.modalForm_btn{
    background-color: var(--purple);
    color: white;
    margin: 4px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    padding: 6px;
    cursor: pointer;
    transition: background 225ms ease;
}
.modalForm_btn:hover{
    background-color: var(--purple-black);
}